.bill__product{
    .img__bill--prd{
        max-width: 80px;
    }
    .quantity__price__bill--prd{
        display: flex;
        flex-direction: column;
    }
}


.order__id__prd{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    color: #333;
}

.default__column__filter{
    min-width: 100px;
    // width: 100%;
}
.number__range__column__filter{}
.select__column__filter{}