@import "../../style/index.scss";

.dangky_main {
  width: 400px;
  margin: 0px auto;
  background-color: white;
  padding: 20px 10px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px;
  h2 {
    margin-top: 40px;
    text-align: center;
  }
  .login_social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .social_item {
      min-width: 140px;
      border: 1px solid $boder_color;
      color: #fff;
      padding: 0 8px;
      margin: 10px 0;
      p {
        text-align: center;
        line-height: 42px;
        margin-bottom: 0;
      }
      &:first-child {
        background-color: rgb(1, 1, 48);
        &:hover {
          background-color: lighten(rgb(1, 1, 48), 10%);
        }
      }
      &:last-child {
        background-color: rgb(82, 2, 2);
        &:hover {
          background-color: lighten(rgb(82, 2, 2), 10%);
        }
      }
    }
  }
  .group-form {
    display: flex;
    flex-direction: column;
    label {
      text-align: left;
      margin: 10px 0;
    }

    input {
      padding: 8px 4px;
      border: 1px solid #dcdcdc;
      border-radius: 2px;
    }
  }
  .form-submit {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    padding: 8px;
    margin-top: 20px;
    background-color: rgb(90, 180, 150);
    border-radius: 4px;
    font-weight: bold;
    color: white;
  }
  .todangnhap {
    display: flex;
    justify-content: end;
    margin: 10px;
  }
}
